*Rproj
*.DS_Store
.Rproj.user

lexibank-analysed/
*.sqlite
clts/
johanssonsoundsymbolic/
models/
glottolog/
data_derived/repl2024*
old/data_derived/repl2024*
02_analysis/data_derived/repl2024_*
data.csv
*.sqlite3
